
<!DOCTYPE html>
<html>
  <head>
    <title>Weather E-Commerce</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="ui teal inverted menu">
      <h1>Weather E-Commerce Cold</h1>
    <style>
</style>
      <div class="rightmenu">
      <% if !logged_in? %>
      <%= link_to 'Create a New User', new_user_path, {class: 'item'} %>
      <%= link_to "Login", login_page_path, {class: 'item'} %>
      <% else %>
      <%= link_to 'Create a New User', new_user_path, {class: 'item'} %>
      <%= link_to "Logout", logout_path, {class: 'item'} %>
    <% end %>
      </div>
  </div>
  <div class="ProductBar">
  <h3>Enjoy your Cold Products!</h3>
  </div>
  <body>
    <div class="ui centered grid ">
      <div class="eight wide column">
        <%= yield %>
      </div>
    </div>
  </body>
</html>